* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-align: center;

}
h1{
    margin: auto;
    text-align: center;
}
a {
font-size: 28px;
    border: 1px solid;
    text-align: center;
    line-height: 8vh;
    padding-block: 10px;
    padding-left: 10px;
    padding-right: 10px;
}