* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 25px;
    height: 10vh;
}

nav{
    position: sticky;
    height: 10vh;
}

main{
    height: 70vh;
}

ul {
  list-style-type: none;
  overflow: hidden;
  border: 1px solid #ebbebe;
  background-color: #f3f3f3;

  /* Flex */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}


li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li{
   width: calc(100%/5);
}

li a:hover:not(.active) {
  background-color: #ddd;
  cursor: pointer;
}

li a.active {
  color: white;
  background-color: #04AA6D;
}

body .formulario{
    height:  auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

footer{
    display: flex;
    justify-content: space-around;
}