<h1>Modifica tu película de Marvel!</h1>
<div class="formulario">
  <form (submit)=modifyPelicula(this.id)>
    <label for="titulo">Título:</label>
    <input type="text" class="form-control m-2" name="titulo" id="titulo" placeholder="Nombre de la película" value="{{pelicula.name}}" required>
    <label for="poster">Poster:</label>
    <input type="text" name="poster" class="form-control m-2" id="poster" placeholder="Enlace de la imagen" value="{{pelicula.poster}}" required>
    <label for="estreno">Fecha de Estreno:</label>
    <input type="text" name="estreno" class="form-control m-2" id="estreno" placeholder="Fecha de Lanzamiento" value="{{pelicula.releaseDate}}" required>
    <label for="sinopsis">Sinopsis:</label>
    <textarea name="sinopsis" id="sinopsis" class="form-control m-2" cols="30" rows="10"
      placeholder="Sinopsis de la película" required>{{pelicula.description}}</textarea>
    <div class=" d-flex justify-content-center">
      <button type="submit" class="btn btn-danger m-2 boton_boots">Añadir</button>
    </div>
  </form>
</div>
