*{
  color: snow;
}
.headerDetalles{
 border-left: 1px solid red;
 padding-left: 20px;
}

.bodyDetalles{

}



img{
  width: 300px;
}

a{
  border: 1px solid red;
  padding: 10px;
  text-decoration: none;
  color: white;
}

p{
  max-width: 85%;
}

a:hover {
  color: red;
  box-shadow: 0px 0px 6px 0px rgb(255, 0, 0);
}

a.leermas{
  border: none;
  padding: 0;
  text-decoration: underline;
  color: white;
}

a.leermas:hover{
  cursor: pointer;
  box-shadow:none;
  text-shadow: 0px 0px 6px 0px rgb(255, 0, 0);
}

