<div class="d-flex flex-wrap justify-content-center align-items-center gap-4">
    <div class="cartafruta coconut">
        <img src="{{imgfrutas[0]}}">
        <p>{{coconut}}</p>
    </div>
    <div class="cartafruta coconut">
        <img src="{{imgfrutas[0]}}">
        <p>{{coconut}}</p>
    </div>
    <div class="cartafruta coconut">
        <img src="{{imgfrutas[0]}}">
        <p>{{coconut}}</p>
    </div>
    <div class="cartafruta coconut">
        <img src="{{imgfrutas[0]}}">
        <p>{{coconut}}</p>
    </div>
    <div class="cartafruta cherry">
        <img src="{{imgfrutas[1]}}">
        <p>{{cherry}}</p>
    </div>
    <div class="cartafruta banana">
        <img src="{{imgfrutas[2]}}">
        <p>{{banana}}</p>
    </div>
</div>