* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}

header {
    height: 10vh;
    background-image: url();
}

nav {
    z-index: 1;
}

body {
    background-color: rgb(168, 168, 168);
}

main {
    background-color: rgb(168, 168, 168);
    width: 100vw;
    height: 85vh;
}

aside {
    text-align: center;
    width: 100vw;
    height: 35vh;
}

div.fondo {
    background-image: url("imgs/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 35vh;
}

div.blur {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2)0%, rgba(255, 255, 255, 0.0)30%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);
    margin-top: 22.5px;
    width: 100vw;
    height: 37vh;
}


h1 {
    padding: 25px;
}

h2 {
    margin: auto;
    background-color: linear rgba(255, 255, 255, 0);
    color: aliceblue;
    text-shadow: 25px;
    float: inline-start;
}

h2.titulo {
    margin-left: 34%;
    margin-top: 100px;
    background-color: linear rgba(255, 255, 255, 0);
    color: aliceblue;
    text-shadow: 25px;
    float: inline-start;
    text-align: center;
    font-size: 34px;
}


ul.index {
    list-style-type: none;
}
ul{
    text-align: center;
}

li.index,dl.index {
    font-size: 20px;
    border: 2px solid black;
    float: left;
    width: 33.33vw;
    overflow: hidden;
    background-color: rgb(172, 115, 115);
}

a {
    text-decoration: none;
}

p.descripcion{
    background-color: rgba(240, 255, 255, 0.418);
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
}

table {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(0, 225, 255);
}

th,td{
    text-align: center;
}

th {
    background-color: yellowgreen;
    height: 5vh;
}

td {
    padding: 8px;
    height: 8vh;
    background-color: coral;
}

footer {
    height: 10vh;
    background-color: green;
}