<form action="">
  <label for="titulo">Título:</label>
  <input type="text" name="titulo" id="titulo" placeholder="Nombre de la película">
  <label for="poster">Poster:</label>
  <input type="text" name="poster" id="poster" placeholder="Enlace de la imagen">
  <label for="estreno">Fecha de Estreno:</label>
  <input type="text" name="estreno" id="estreno" placeholder="Fecha de Lanzamiento">
  <label for="sinopsis">Sinopsis:</label>
  <textarea name="sinopsis" id="sinopsis" cols="30" rows="10" placeholder="Sinopsis de la película"></textarea>
  <button type="submit">Modificar</button>
</form>
