* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header {
    height: 10vh;
    
}

body {
    background-image: linear-gradient(white 50%, skyblue 100%);
    
}

main {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 75vh;
}


aside.imagenes {
    display: inline-flex;
    justify-content: center;
}

img.logo  {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: aliceblue;
    padding: 25px;
    background-image: url(imgs/headerbg.png);
    background-size: contain;
    
}

h2 {
    text-align: center;
    margin: auto;
    color: rgb(0, 0, 0);
    text-shadow: 25px;
}

ul.index {
    list-style-type: none;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.index {
    float: left;
}

.index li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.index:hover {
    background-color: aquamarine;
}

li a:hover:not(#active) {
    background-color: #111;
  }
  
  #active {
    background-color: #046daa;
  }

  img.openkh{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  img.logo  {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.descripcion {
    background-image: linear-gradient(rgb(176, 229, 250) 50%, rgb(31, 153, 201) 100%);
    margin-left: 150px;
    margin-right: 150px;
    border: 1px solid black;
    border-radius: 15px 50px;
    padding: 35px;
    text-align: center;
}



ul {
    list-style-type: none;
    text-align: center;
}


a {
    text-decoration: none;
}

a.discord{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-right: auto;
    margin-left: auto;
}


table {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(0, 225, 255);
}

th,
td {
    text-align: center;
}

th {
    background-color: rgb(229, 255, 177);
    height: 5vh;
}

td {
    height: 8vh;
    background-color: rgb(250, 187, 165);
}

input {
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: #111;
}