.filmposter {
  border: 1px solid red;
  border-radius: 1.5rem;
}
.contenedor{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}


img {
  width: 150px;
  height: 150px;
}
